.skills {
    width: 87%;
    text-align: center;
    color: #fff;
    margin: auto;
    padding-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 3rem;
    text-align: left;
    margin: 0 0 50px 0;
    padding: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.skillBox {
    background-image: linear-gradient(120deg, rgba(255, 255, 0, 0) 0%, rgba(255, 255, 0, 0) 20%, rgba(0, 0, 0, 0.498) 100%);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillName {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.progressBarContainer {
    width: 100%;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progressBar {
    height: 10px;
    background-color: #4caf50;
    /* background-color: linear-gradient(0deg,rgb(158, 255, 158) 0%, green 100%); */

    border-radius: 5px;
    transition: width 0.5s ease;
}
