@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(60px);
    }
}

.intro {
    width: 100%;
    text-align: center;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initially positioned lower */
    transition: opacity 1s ease, transform 0.5s ease;
}

.visible {
    animation: fadeIn 1s forwards; /* Fade in when visible */
}

.hidden {
    animation: fadeOut 1s forwards; /* Fade out when not visible */
}

.container {
    width: 87%;
    margin: auto;
}

.paragraph {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    color: #262626;
}

.hello {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    color: #21b1d5;
}

.name{
    position: relative;
    bottom: 15px;
    left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #262626;
}

.waveContainer {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.waveContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/line1.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    transform: translate(-50%, -50%);
    animation: rotateImage 5s infinite linear;
}

@keyframes rotateImage {
    0% {
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateX(80deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateX(0deg);
    }
}
