.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
 
  }
  
  .centre{
    width: 90%;
    margin: auto;
  }

  .scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    height: 36px;
  }
  
  .navigation {
    display: flex;
    gap: 60px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  
  .logoLink {
    z-index: 3;
  }
  
  .logo {
    width: 25px;
    height: auto;
  }
  
  .link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease, background-size 0.3s ease;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.094) 50%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    border-radius: 50px;
  }
  
  .link:hover {
    background-size: 100% 100%;
    color: #9e9e9e;
  }
  
  .active {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(120deg, rgba(255, 255, 0, 0) 0%, rgba(255, 255, 0, 0) 30%, rgba(250, 186, 10, 0.498) 100%);
    background-size: 100% 100%;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 15px;
    right: 30px; /* Adjusted for better placement */
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .navigation {
      display: none;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 100vh;
      padding-top: 60px;
      gap: 20px;
    }
  
    .navigation.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
      right: 70px; /* Further adjustment for better placement */
    }
  }
  